<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Pacifico&display=swap" rel="stylesheet">
</head>

<header class="sticky top-2 m-5">{% block header %}{% endblock %}</header>

<body class="relative">
  {% block body %}{% endblock %}
</body>

</html>